# Server Configuration
PORT=3001
NODE_ENV=development

# JWT Secret
JWT_SECRET=pJdNAelx4r6w80MbOvjHWGLdEAd++QWHj7j4LKgtbdw=

# MongoDB Configuration (for applicant data)
MONGODB_URI=mongodb://localhost:27017/ongc-internship

# SQL Database Configuration (for authentication)
SQL_HOST=localhost
SQL_PORT=3306
SQL_DATABASE=ongc_auth_db
SQL_USER=root
SQL_PASSWORD=ongc_recurit_db

# Email Configuration (for sending notifications)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=sushikapil0@gmail.com
EMAIL_PASS=zvyb dtju lykm irfy